<header>
    <!--- navbar --->
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex flex-row align-items-center">
                    <a class="navbar-brand" href="./index.html">
                        <img src="./logo.png" class="img-fluid" style="height: 50px;">
                        <span class="text-uppercase lead px-1 border-end">
                            lccv
                        </span>
                        <span class="text-bold px1">Portal Teste</span>
                    </a>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-row-reverse bd-higlight">
                            <ul class="nav">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
    
            <!--- // navbar -->
        </header>