/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
.sidebar-head{
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-weight: 700;
    color: #ffff;
    font-size: 0.8rem;
}
.nav-link-text{
    color: #222;
    font-weight: 600;
}
.nav-link:hover{
    color: #0a58ca ;
}
.breadcrumb{
    padding: 0.5rem 1rem;
    background-color: var(--bs-light);
}